footer
  .footer
    .footer__contact
      .footer__total Liên Hệ với chúng tôi
      .footer__list.footer__contact-location
        i.fas.fa-map-marker-alt
        span
          | Tầng 4, Tòa nhà Hanoi Group Số 442 Đội Cấn,
          br
          |             P. Cống Vị, Q. Ba Đình, Hà Nội
      .footer__list.footer__contact-number
        i.fas.fa-phone-volume
        span (04) 6674 2332 - 
        i.fas.fa-blender-phone
        span (04) 3786 8904
      .footer__list.footer__contact-number
        i.fas.fa-phone-volume
        span (08) 6680 9686
        i.fas.fa-envelope
        span Support@bizweb.vn
    .footer__shipping
      .footer__total Chuyển Hàng
      .footer__list
        ul
          li mua sắm trực tuyến
          li Đến từ chúng tôi gửi đến
          li Chính sách vận chuyển
          li vận chuyển thông qua
    .footer__support
      .footer__total hỗ trợ
      .footer__list
        ul
          li Câu chuyện của chúng ta
          li Thanh toán an toàn
          li tùy chọn Vận Chuyển
          li Chính sách vận chuyển
    .footer__information
      .footer__total thông tin
      .footer__list
        ul
          li về Chúng tôi
          li Diều khoản & điều kiện
          li Chính Sách Riêng Tư
          li Đơn đặt hàng và Returns
    .footer__account
      .footer__total my account
      .footer__list
        ul
          li Xem Giỏ hàng
          li Sản phẩm yêu thích
          li kiểm tra
          li Theo dõi đặt hàng của tôi
  .footer__copy
    p © Copyright 2008-2014 DKT Technology JSC
    div
      img(src='../../../asset/footer.jpg', alt='')
