@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("//db.onlinewebfonts.com/c/596c42be7e74061b11d9762459717f80?family=Thirsty+Script+Extrabold+Demo");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
// @font-face {
//   font-family: "utm-facebook-k-t";
//   src: url("https://candyfonts.com/wp-data/2018/10/26/11310/UTM FacebookR K-T.ttf")
//       format("woff"),
//     url("https://candyfonts.com/wp-data/2018/10/26/11310/UTM FacebookR K-T.ttf")
//       format("opentype"),
//     url("https://candyfonts.com/wp-data/2018/10/26/11310/UTM FacebookR K-T.ttf")
//       format("truetype");
// }
@import url("//db.onlinewebfonts.com/c/3dd6e9888191722420f62dd54664bc94?family=Myriad+Pro");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap");

@font-face {
  font-family: "UTM ViceroyJF";
  src: url("//db.onlinewebfonts.com/t/11f83a01c429e081482bf04fec422565.eot");
  src: url("//db.onlinewebfonts.com/t/11f83a01c429e081482bf04fec422565.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/11f83a01c429e081482bf04fec422565.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/11f83a01c429e081482bf04fec422565.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/11f83a01c429e081482bf04fec422565.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/11f83a01c429e081482bf04fec422565.svg#UTM ViceroyJF")
      format("svg");
}
