$colorGray: #e7e7e7;
$colorGrayOpaci: #737373;
$fontOpen: "Open Sans";
$fontWeigth400: 400;
$colorGreen: #789629;
$colorGray59: #595959;
$fontLobter: "Lobster";
$fontRoboto: "Roboto";
$fontLato: 'Lato', sans-serif;
$borderC1: 1px solid #c1c1c1;