extends ../../components/block.pug 
block linkCSS 
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
  script(src="https://kit.fontawesome.com/a076d05399.js")
  link(rel='stylesheet', href='../../../pages/styles.css')
  link(rel='stylesheet', href='../../../pages/grid/grid-detail.css')
  link(rel='stylesheet', href='../../../pages/shopping-cart/shopping-cart.css')
block titlePage 
  title Shopping Cart 
block content 
  include ../../components/headerNot
  include main-shopping-cart
  include ../../components/footer
  script(src="../../../js/general.js")
  script(src='../../../js/payment.js')
  script(src="../../../js/stepform.js")